version: '3.8'

services:
 centralapp:
    image: registry.git.fh-aachen.de/im3041s/zentrale-anwendung
    container_name: centralapp
    restart: unless-stopped
    ports:
        - "8000:80"
    environment:
        APP_ENV: production
        APP_DEBUG: false
        DB_CONNECTION: pgsql
        DB_HOST: postgres
        DB_PORT: 5432
        DB_DATABASE: chatbot_dashboard
        DB_USERNAME: user
        DB_PASSWORD: password
    env_file:
        - .env
    depends_on:
        postgres:
            condition: service_healthy
    networks:
        - app-network

 postgres:
    image: postgres:latest
    container_name: chatbot-postgres
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: chatbot_dashboard
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - app-network
    healthcheck:
        test: [ "CMD-SHELL", "pg_isready -U user -d chatbot_dashboard" ]
        interval: 5s
        timeout: 5s
        retries: 5

volumes:
  postgres_data:

networks:
  app-network:
    driver: bridge
